h1{
	text-align: center;
	font-size: 100px;
	background-color: gray;
	color: red;
	margin: 10px;
	transition: 100ms;
	
}
Title{
	text-align: center;
	font-size: 100px;
	background-color: gray;
	color: red;
	margin: 10px;
	transition: 100ms;
}

h3{
	text-align: center;
	font-size: 35px;
	background-color: gray;
	color: red;
	margin: 10px;
	transition: 100ms;
	
}

body
{
	background-color: gray;
}
