h1{
	text-align: center;
	font-size: 75px;
	background-color: gray;
	color: red;
	margin: 10px;
	transition: 100ms;
	
}
h3{
	text-align: center;
	font-size: 40px;
	color: red;
	margin: 10px;
	transition: 100ms;
}
label{
	text-align: center;
	
	
}


body
{
background-color: gray;
}